body {
    margin: 20px;
}

input {
    height: 20px;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    margin-top: 5px;
}

label {
    font-weight: 500;
}

button {
    height: 30px;
    border: 2px solid #d3d3d3;
    width: 177px;
    border-radius: 5px;
    background: #d3d3d3;
}